.App {
position: relative;
width: 100%;
 height: 100vh;
 overflow: hidden;
 background-color: #222;
}

.bar{
  position: fixed;
  right: 30px;
  top:30px;
  z-index:100;
}

.nav{
  position: absolute;
  // left:0;
  // top:0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color:  #13b3d7;
  opacity: 0;
  text-align: center;
	transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: scale(0);
  display: table;
  color: white;
   z-index:2;
   @include xxx (sm){
     right:-30%;
     transform: scale(1);
     transition: all 1s ease;
     top:30%;
     width: 10%;
     height: 50%;
}
  }
  // .nav_hide{
  //   transition: all 1s ease;
  //  }

  .nav_show{
   opacity: 1;
   transform: scale(1);
   @include xxx (sm){
    
    right: 0;
    
}
}
 
 .nav_ul{
  margin: 100px auto 30px;
   width: 200px;
   list-style-type: none;
 }

 .nav_li{
   margin: 20px auto;
   width: 200px;
   text-align: center;
   height: 50px;
   transition: all .4s .5s;
		&:nth-child(odd) {
			transform: translateX(30%);
		}
		&:nth-child(even) {
			transform: translateX(-30%);
    }
 }
 .nav_li.aaa {
  transform: translateX(0);
}
 a{
   position: relative;
   display: block;
   font-size: 40px;
   width: 200px;
   margin-bottom: 20px;
   text-align: center;
   text-decoration: none;
   color: white; 
  

.nav_start{
position: absolute;
font-size: 30px;
 left: 0;
 right:0;
 top:0;
 bottom:0;
line-height: 50px;
color :white;
z-index:1;
opacity:0;
background-color:#13b3d7;
transition: 0.3s;
 }
.nav_start:hover{
 opacity:1 
 }

 
 }


 
 
 
 
 

 



 

